<div class="grid">
  <div class="preview">
    <a target="_blank" href="<%= match.viewLink %>" title="<%= match.label %>"><img src="<%= match.preview %>" alt="<%= match.label %>"></a>
    <div class="time"><%= match.date %></div>
  </div>
  <div class="data data-time" data-time="<%= match.time %>">
    <h3><a target="_blank" href="<%= match.viewLink %>"><%= match.label %></a></h3>
    <div class="category"><a target="_blank" href="<%= match.dlLink %>">Download</a></div>
  </div>
</div>
