<div class="grid">
  <div class="preview">
    <a target="_blank" href="<%= video.viewLink %>" title="<%= video.label %>"><img src="<%= video.preview %>" alt="<%= video.label %>"></a>
    <div class="time"><%= video.date %></div>
  </div>
  <div class="data data-time">
    <h3><a target="_blank" href="<%= video.viewLink %>"><%= video.label %></a></h3>
  </div>
</div>